#main {
  max-width: 1280px;
  max-height: 100%;
  margin: 30px auto;
  padding: 15px;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#title {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: bold;
  border-bottom: 5px solid;
  margin-bottom: 15px;
}

header {
  color: rgb(247, 239, 239);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: white;
}

#main > p {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-60%, -60%);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-in-line-end: 0px;
}

a:visited {
  color: #6309f3;
}
#img-div {
  max-width: 550px;
  margin: 0 auto;
  padding: 45px;
  color: white;
}

#image {
  display: block;
  max-width: 100%;
}

#tribute-info {
  max-width: 600px;
  margin: 0 auto;
}
#tribute-info > h3 {
  text-align: center;
  background-color: rgb(203, 176, 227);
}

#tribute-info > ul li {
  margin-bottom: 10px;
  line-height: 30px;
  background-color: rgb(214, 193, 232);
}
h5 {
  color: white;
  text-align: center;
}
i {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#songs {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: aquamarine;
  border-width: 5px;
}

footer {
  color: white;
  max-width: 850px;
  margin: auto;
  padding: 20px 15px;
  margin-bottom: 70px;
  text-align: right;
  font-style: italic;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS96t1kUq0a3BuagBAn-MdZp7LAdUK9F-ogwg&usqp=CAU");
}
